<div class="list-wrap">
  <% @lists.each do |list| %>
  <div class="list-box">
    <%= attachment_image_tag list, :image, :fill, 200, 200, format: 'jpeg' %>
    <div class="list-comment">
      <span class="list-body">
        <%= list.body %>
      </span>
      <span class="list-title">
        <%= link_to list.title, todolist_path(list.id) %>
      </span>
      <span class="list-edit">
        <%= link_to "編集", edit_todolist_path(list.id) %>
      </span>
      <span class="list-destroy">
        <%= link_to "削除", destroy_todolist_path(list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </span>
    </div>
  </div>
  <% end %>
</div>